spring:
  application:
    name: Social-Learning
  datasource:
    url: jdbc:postgresql://localhost:5432/social_db
    username: postgres
    password: nhattan5

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  jackson:
    serialization:
      fail-on-empty-beans: false

server:
  port: 8080