spring:
  application:
    name: Social-Learning
  datasource:
    url: jdbc:postgresql://localhost:5432/social_db
    username: postgres
    password: nhattan5

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  jackson:
    serialization:
      fail-on-empty-beans: false
  mail:
    port: 465
    host: smtp.gmail.com
    password: gbgc muoi fqmy sfbd
    username: nhattan11205@gmail.com
    default-encoding: UTF-8
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          ssl:
            enable: true

server:
  port: 8080